.torre{
    background-image:url('./pictures/torre.png');
    background-position: center;
    object-fit: cover;
    width: 33%;
    height: 200px;
    display: flex; 
    flex-direction: column-reverse; 
    /*justify-content: center; talvez tirar*/
}
.reset{
    position: absolute;
    left: 30vw;
    margin-top: 20px;
    width: 30vw;
    height: 10vh;
    font-size: 5vw;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    background-color: grey;
    color: #fff;
    text-shadow: rgb(51, 49, 49) 3px 3px 3px ;
    box-shadow: rgb(51, 49, 49) 7px 7px 7px;
}
.reset:active{

}
p{
    position: absolute;
    transform: translateY(-300%);
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    border-bottom:30px solid black;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.disco{
    align-self: center;
    width: 80%;
    height: 25px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0,0.4);
}
#disco0{
    width: 90%;
    background: linear-gradient(to right, rgb(35, 105, 255), rgb(0, 0, 139), rgb(35, 105, 255)) ;
}
#disco1{
    width: 70%;
    background: linear-gradient(to right, rgb(86, 255, 64), rgb(17, 148, 0), rgb(86, 255, 64)) ;;
}
#disco2{
    width: 40%;
    background:linear-gradient(to right,rgb(255, 79, 79), rgb(255, 0, 0),rgb(255, 79, 79)) ;
}
.selected{
    transform: translateY(-30%);
    border:rgb(236, 221, 13) solid 5px;
}
.contador{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2em;
}
@media (min-width:700px){
    .contador {
        width: 100%;
        font-size: 40px;
        
    }
    .torre{
        height: 350px;
    }
    .disco{
        height: 50px;
    }
    .reset{
        font-size: 30px;
    }
}